@model ProductViewModel
@using X.PagedList
@using X.PagedList.Mvc.Core
@using PaggingSample.Extensions
<div id="loading-spinner" style="display:none; text-align:center;">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
</div>
<form method="get" action="@Url.Action("Index")" class="mb-3">
@Html.PagingDropDownFor(mbox => mbox.PagingDropDown)
    <button type="submit" class="btn btn-primary">検索</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PagedList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>
</form>
<div id="pagination-container">
    @Html.PagedListPager(Model.PagedList, page => Url.Action("Index", new { page,pagesize = Model.PagingDropDown.SelectedPageSize }), new PagedListRenderOptions
{
    LinkToPreviousPageFormat = "Previous",
    LinkToNextPageFormat = "Next",
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    DisplayLinkToIndividualPages = true,
    DisplayPageCountAndCurrentLocation = false,
    UlElementClasses = new[] { "pagination" },
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" }
})
</div>